html {
  font-size: 62.5%;
  background: #f3f3f3;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  padding: 20px;
  color: #333;
}

.swiper-container {
  width: 100%;
  background: #1e70cd;
}

.swiper-wrapper {
  width: 100%;
}

.swipe-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #f3f3f3;
  font-size: 3rem;
  background: #003366;
}

/* icons within About Us section
================================*/
.icon-set li {
  margin: 10px 0;
}

.about-icon {
  width: 30px;
  height: 30px;
  margin:5px;
}

.icon-set li span {
  display:inline-block;
  vertical-align:middle;
}

.icon-set li span:last-child {
  max-width:700px;
  margin-left: 10px;
}

/* buttons
=================*/

.demo-triggers {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #ccc;
  border-color: #fefefe;
  transition: ease 0.2s background-color, ease 0.2s border-color;
  text-decoration: none;
  color: #1b1b1b;
}

.btn:focus,
.btn:hover {
  color: #fefefe;
  background-color: grey;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.demo-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background: #d9d9d9;
  border-radius: 5px;
  padding: 20px 0;
}

.swiper-block {
  position: absolute;
  height: 0;
  overflow: hidden;
  width: 90%;
  z-index: 20;
}

.swiper-container {
  /* background:#eee; */
}

.swiper-block textarea {
  margin-top: 20px;
  height: 650px;
  width: 30%;
  background: #333;
  color: #f3f3f3;
  border-color: #1b1b1b;
  font-size: 1.6rem;
  display: inline-block;
  vertical-align: top;
}

.cm-s-oceanic {
  font-size: 1.4rem;
}

.textarea-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

h1,
h2 {
  padding: 20px 0;
  color: #1e70cd;
  font-size: 2rem;
  font-weight: 600;
}

h1 {
  /* padding: 20px 0; */
}

h1 {
  display: block;
  font-size: 3rem;
  text-align: center;
  padding: 20px 0;
}

.text-block-info {
  margin: 20px 0;
  font-size: 1.6rem;
  font-style: italic;
  line-height: 1.6;
}

/* Heading Block
================*/

.heading-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
}

.cm-s-oceanic .CodeMirror-lines {
  padding: 20px 10px 20px 0;
}

.container {
  width: calc(100% - 300px);
  margin-left: 300px;
}

.inner-container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: #a30101;
  text-decoration: none;
  transition: ease 0.2s color;
}

a:focus,
a:hover {
  color: #1b1b1b;
}

/* Navigation Bar
=================*/

.navigation-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: #d9d9d9;
  box-sizing: border-box;
  padding: 30px;
  overflow-y: auto;
}

.navigation-bar h2 {
  font-size: 3rem;
}

/* Quick access links
=====================*/

.anchors li:not(.sub-heading) {
  margin-left: 20px;
}

.anchors .sub-heading {
  font-weight: 700;
  font-size: 1.8rem;
  padding: 15px 0 5px 8px;
}

.anchors li {
  position: relative;
  display: block;
}

.anchors li .section-anchor {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 8px;
  line-height: 1.2;
  color: #333;
  transition: ease 0.2s color;
}

.anchors li:not(:last-child) .section-anchor {
  border-bottom: 1px solid #bfbfbf;
}

.anchors li .section-anchor::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  content: '';
  width: 3px;
  height: 0;
  transition: ease 0.2s height;
  background: #1e70cd;
}

.anchors li:focus .section-anchor::before,
.anchors li:hover .section-anchor::before {
  height: 100%;
}

.anchors li:focus .section-anchor,
.anchors li:hover .section-anchor {
  color: #1e70cd;
}

/* Tiny Copy
============*/

.tiny-copy {
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  opacity: 0.4;
  transition: ease 0.2s opacity;
}

.tiny-copy svg {
  width: 100%;
  height: 100%;
}

.tiny-copy:focus,
.tiny-copy:hover {
  background: none;
  border: none;
  opacity: 1;
}

/* Class Names
==============*/

.class-name {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
  background: #eee;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  font-size: 1.4rem;
  color: #980715;
}

.text-block {
  margin: 50px 0;
}

/* ABOVE DEMO ONLY
==================*/

/* SWIPE CTA
============*/

@-webkit-keyframes swipe-ani {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  25% {
    transform: translateX(0%);
    opacity: 1;
  }
  50% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}

@-moz-keyframes swipe-ani {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  25% {
    transform: translateX(0%);
    opacity: 1;
  }
  50% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes swipe-ani {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  25% {
    transform: translateX(0%);
    opacity: 1;
  }
  50% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}

/* GLOBAL SWIPER BUTTONS
================*/

.swiper-btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
}

.swiper-btn:focus {
  border: 0;
  padding: 0;
  outline: none;
}

/* DOT navigation
=================*/

.cp-controls {
  position: relative;
}

.swiper-pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 100%;
  background: #d9d9d9;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 18px;
  height: 18px;
}

/* INLINE ARROWS
================*/

.inline-arrows {
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: right;
}

.inline-arrows .swiper-btn {
  display: inline-block;
  background: #ccc;
  padding: 5px 10px;
  transition: ease 0.2s opacity, ease 0.2s background;
}

.inline-arrows .swiper-btn:focus,
.inline-arrows .swiper-btn:hover {
  background: #fcfcfc;
}

.inline-arrows .swiper-btn.swiper-button-disabled {
  opacity: 0.8;
}

.inline-arrows .nav-prev {
  border-radius: 10px 0 0 10px;
}

.inline-arrows .nav-next {
  border-radius: 0 10px 10px 0;
}

/* Vertical Arrows
===================*/

.vertical-arrow {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: calc(100% - 57px);
}

.prev-arrow {
  left: 0;
}

.next-arrow {
  right: 0;
}

.vertical-arrow .swiper-btn {
  border-radius: 100%;
}

.vertical-arrow .swiper-btn span {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3.5rem;
}

.vertical-arrow .swiper-btn.swiper-button-disabled {
  opacity: 0.5;
}

/* Separate arrows
==================*/

.separate-arrows .swiper-container {
  box-sizing: border-box;
  width: calc(100% - 100px);
  margin: 0 auto;
}

/* Options list
===============*/

.options-list {
  width: 960px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
}

.options-list ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  justify-content: space-around;
}

.options-list ul:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.options-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 0;
  /* To keep them equal width */
}

.options-list li span {
  display: block;
  padding: 10px 0;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.4;
}

.options-list li:not(.opt-example) {
  border-right: 1px solid #ccc;
}

.options-list .description {
  width: 100%;
  border-top: 1px solid #ccc;
  border-right: none!important;
  padding: 10px 20px;
  line-height: 1.4;
  background: #f3f3f3;
}

.options-list .headings li span {
  font-size: 1.8rem;
  font-weight: 700;
}

.opt-example {
  min-width: 400px;
  border-right: none;
}

.options-list ul:not(.headings) li:first-child span {
  color: #086b08;
}

.options-list ul:not(.headings) li:nth-last-child(2) span {
  color: #860606;
}

.options-list ul:not(.headings):nth-child(odd) {
  background: #efeded;
}

.options-list ul:not(.headings):nth-child(even) {
  background: #e4e3e3;
}

/* Swiper Error
===============*/

.swiper-error {
  background: #8e110e;
  color: #fff;
  padding: 10px;
  font-size: 1.4rem;
  text-align: center;
  font-family: Arial;
}

.error-block {
  margin: 20px 0;
}

/* Code Block
=============*/

.code-block {
  position: relative;
}

.code-block textarea {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block!important;
  outline: none!important;
}

/* Copy Code
=============*/

.copy-code {
  display: inline-block;
  padding: 6px 12px;
  margin: 0 10px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #ccc;
  border-color: #fefefe;
  transition: ease 0.2s background-color, ease 0.2s border-color;
  text-decoration: none;
  color: #1b1b1b;
}

.copy-code:focus,
.copy-code:hover {
  color: #fefefe;
  background-color: grey;
  border-color: #ccc;
}

/* Code textareas
=================*/

.CodeMirror {
  height: auto;
  min-height: 50px;
  margin: 10px 0;
  border-radius: 5px;
  line-height: 1.4;
}

.CodeMirror-lines {
  padding: 15px 0;
}

/* Alerts
==========*/

.alert {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  z-index: 800;
  text-align: center;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}