<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='shortcut icon' type='image/x-icon' href='./favicon.ico' />
    <title>PS Flick</title>

    <!-- STYLESHEETS -->
    <link href="./css/codemirror.5.35.0.css" rel="stylesheet">
    <link href="./css/mdn-like.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="https://primarysite-stage.s3.amazonaws.com/theme/BuildAssets/swiper.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i,800,900" rel="stylesheet">

  </head>
  <body>
<!--
  *
  * Textareas out of indentation to Remove space from Coder Mirror block -- solutions ?
  *
  *
  *
-->
    <!-- ICONS -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="download" viewBox="0 0 471.2 471.2">
          <title>download</title>
          <path fill="#1e70cd" d="M457.7,230.15c-7.5,0-13.5,6-13.5,13.5v122.8c0,33.4-27.2,60.5-60.5,60.5H87.5c-33.4,0-60.5-27.2-60.5-60.5v-124.8 c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v124.8c0,48.3,39.3,87.5,87.5,87.5h296.2c48.3,0,87.5-39.3,87.5-87.5v-122.8 C471.2,236.25,465.2,230.15,457.7,230.15z" />
          <path fill="#1e70cd" d="M226.1,346.75c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l85.8-85.8c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-62.7,62.8 V30.75c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v273.9l-62.8-62.8c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1 L226.1,346.75z" />
      </symbol>
      <symbol id="copy" viewBox="0 0 488.3 488.3">
          <title>copy</title>
          <path fill="#1e70cd" d="M314.25,85.4h-227c-21.3,0-38.6,17.3-38.6,38.6v325.7c0,21.3,17.3,38.6,38.6,38.6h227c21.3,0,38.6-17.3,38.6-38.6V124 C352.75,102.7,335.45,85.4,314.25,85.4z M325.75,449.6c0,6.4-5.2,11.6-11.6,11.6h-227c-6.4,0-11.6-5.2-11.6-11.6V124 c0-6.4,5.2-11.6,11.6-11.6h227c6.4,0,11.6,5.2,11.6,11.6V449.6z" />
          <path fill="#1e70cd" d="M401.05,0h-227c-21.3,0-38.6,17.3-38.6,38.6c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5c0-6.4,5.2-11.6,11.6-11.6h227 c6.4,0,11.6,5.2,11.6,11.6v325.7c0,6.4-5.2,11.6-11.6,11.6c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5c21.3,0,38.6-17.3,38.6-38.6 V38.6C439.65,17.3,422.35,0,401.05,0z" />
      </symbol>
    </svg>

    <div class="navigation-bar">
      <h1>Quick Access:</h1>
      <ul class="anchors">
        <li class="sub-heading">Introduction</li>
        <li>
          <a class="section-anchor" href="#intro">About</a>
        </li>
        <li class="sub-heading">Examples</li>
        <li>
          <a class="section-anchor" href="#examples">Live Preview</a>
        </li>
        <li class="sub-heading">Getting Started</li>
        <li>
          <a class="section-anchor" href="#add-css">Add CSS files</a>
          <span class="tiny-copy btn clip" title="swiper.css stylesheet" data-btn="css-file">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li>
          <a class="section-anchor" href="#add-js">Add JS files</a>
          <span class="tiny-copy btn clip" title="All js files required" data-btn="js-file">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li>
          <a class="section-anchor" href="#add-html">Add HTML structure</a>
          <span class="tiny-copy btn clip" title="Basic swiper HTML" data-btn="core-html-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li>
          <a class="section-anchor" href="#global-css">Add CSS styling</a>
            <span  class="tiny-copy btn clip" title="Swiper instance CSS" data-btn="swiper-inst-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
          <span  style="right:30px" class="tiny-copy btn clip" title="Global btn CSS" data-btn="global-btn-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
          <span style="right:60px" class="tiny-copy btn clip" title="Global CSS" data-btn="global-css-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li>
          <a class="section-anchor" href="#flick-variable">Add swiper options</a>
          <span class="tiny-copy btn clip" title="flick-variable.js content" data-btn="basic-variable-js">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li class="sub-heading">HTML</li>
        <li>
          <a class="section-anchor" href="#core-html">Core HTML</a>
          <span class="tiny-copy btn clip" title="Basic swiper HTML" data-btn="core-html-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li>
          <a class="section-anchor" href="#core-injected">Swiper wrapper assignment</a>
          <span class="tiny-copy btn clip" title="swiper HTML for update areas" data-btn="core-html-injected-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li>
          <a class="section-anchor" href="#grouped-nav">Grouped nav</a>
          <span class="tiny-copy btn clip" title="HTML grouped mark-up" data-btn="grouped-nav-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li>
          <a class="section-anchor" href="#separate-nav">Separate nav</a>
          <span class="tiny-copy btn clip" title="side button navigation HTML" data-btn="separate-nav-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li class="sub-heading">CSS</li>
        <li>
        <a class="section-anchor" href="#global-css">Global CSS</a>
          <span class="tiny-copy btn clip" title="Global CSS" data-btn="global-css-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
          <span  style="right:30px" class="tiny-copy btn clip" title="Global btn CSS" data-btn="global-btn-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li>
          <a class="section-anchor" href="#block-css">Swiper instance CSS</a>
          <span class="tiny-copy btn clip" title="Swiper instance CSS" data-btn="swiper-inst-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li>
          <a class="section-anchor" href="#grouped-nav-css">Grouped nav</a>
          <span class="tiny-copy btn clip" title="CSS for inline navigation" data-btn="grouped-nav-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li>
          <a class="section-anchor" href="#separate-nav-css">Separate nav</a>
          <span class="tiny-copy btn clip" title="CSS for side navigation" data-btn="separate-nav-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li class="sub-heading">Javascript</li>
        <li>
          <a class="section-anchor" href="#flick-variable">Build based variables</a>
          <span class="tiny-copy btn clip" title="flick-variable.js content" data-btn="basic-variable-js">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li>
          <a class="section-anchor" href="#ps-options-full">PS settings full</a>
          <span class="tiny-copy btn clip" title="Full flick-variable.js" data-btn="full-variables-copy">
            <svg class="icon">
              <use xlink:href="#copy" />
            </svg>
          </span>
        </li>
        <li class="sub-heading">Options</li>
        <li>
          <a class="section-anchor" href="#general-info">General Information</a>
        </li>
        <li>
          <a class="section-anchor" href="#ps-settings">PS settings</a>
        </li>
        <li class="sub-heading">Errors</li>
        <li>
          <a class="section-anchor" href="#error-msg">Error Messages</a>
        </li>
        <li class="sub-heading">Core files</li>
        <li>
          <a class="section-anchor" href="#core-files">Links to core files</a>
        </li>
        <li class="sub-heading">Assets</li>
        <li>
          <a class="section-anchor" href="#assets">Swiper CTA hand</a>
          <a href="./swipe-to-right.svg" download="swipe-to-right.svg" class="tiny-copy btn" title="download">
            <svg class="icon">
              <use xlink:href="#download" />
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="inner-container">

          <h1>Swiper Implementation.</h1>

          <div class="text-block" id="intro">
            <div class="heading-block">
              <h2>About 'Swiper' and 'Flick'.</h2>
            </div>

            <p class="text-block-info">We introduced usage of <a href="http://idangero.us/swiper/" target="_blank"> swiper </a> in order to modernise our responsive and desktop designs. Main task for swiper is to enable 'swipe' functionality on touch screens as well as provide user with button, thumbnail and dot navigation. We have extended functionality by introducing <span class="class-name"> Flick </span>.</p>

            <p class="text-block-info">Think of Flick as bridge between swiper and build team. Flick allows us to initiate multiple swiper instances with separate settings across the site. Building navigation buttons and injecting classes on dynamic elements ( updates areas ) is an added extra. Flick does not limit, change or stop any native functionality that comes with swiper.</p>

            <p class="text-block-info">This documentation covers information regarding <span class="class-name">Flick</span> . </p>

            <p class="text-block-info">Any information regarding native swiper functionality and options can be found in <a href="http://idangero.us/swiper/" target="_blank"> swiper official documentation .</a> </p>

            <p class="text-block-info">Side quick access menu allows to navigate this page quickly. It also includes some anchors next to the text: </p>
            <ul class="icon-set">
              <li>
                <span class="class-name">
                  <svg class="icon about-icon">
                   <use xlink:href="#copy" />
                  </svg>
                </span>
                <span> - Will copy relevant content to your clipboard.</span>
              </li>
              <li>
                <span class="class-name">
                  <svg class="icon about-icon">
                    <use xlink:href="#download" />
                  </svg>
                </span>
                <span> - Will download relevant file. Please note - automatic download will work in chrome only if page is served via server (with protocol). Alternatively use Firefox browser or if you use chrome - right click and save as.   </span>
            </li>
            </ul>

          </div><!-- Intro -->

          <div class="text-block" id="examples">
            <h2>Live Preview:</h2>
            <div class="demo-triggers tab-triggers">
              <ul>
                <li class="btn btn-primary" data-tab="0">Global</li>
                <li class="btn btn-primary" data-tab="1">Initiating @ 1200px</li>
                <li class="btn btn-primary" data-tab="2">Grouped button navigation</li>
                <li class="btn btn-primary" data-tab="3">Separate button navigation</li>
                <li class="btn btn-primary" data-tab="4">Swipe-content injection</li>
              </ul>
            </div>
          </div><!-- /Examples -->

          <div class="demo-area">

            <div class="swiper-block" data-tab="0" style="position: relative; height: auto;">
              <div class="swiper-container" id="swiperOne">
                <div class="swiper-wrapper">
                  <div class="swipe-content">1</div>
                  <div class="swipe-content">2</div>
                  <div class="swipe-content">3</div>
                </div><!-- swiper-wrapper -->
                <div class="cp-controls">
                  <div class="swiper-pagination"></div>
                </div>
              </div><!-- /swiper-container-->
            </div>

            <div class="swiper-block" data-tab="1">
              <div class="swiper-container" id="swiperTwo">
                <div class="swiper-wrapper">
                  <div class="swipe-content">Initializing if screen is less than 1200px wide</div>
                  <div class="swipe-content">Initializing if screen is less than 1200px wide</div>
                  <div class="swipe-content">Initializing if screen is less than 1200px wide</div>
                </div><!-- swiper-wrapper -->
                <div class="cp-controls">
                  <div class="swiper-pagination"></div>
                </div>
              </div><!-- /swiper-container-->
            </div>

            <div class="swiper-block" data-tab="2">
              <div class="swiper-container" id="swiperThree">
                <div class="arrow-nav inline-arrows"></div>
                <div class="swiper-wrapper">
                  <div class="swipe-content">1</div>
                  <div class="swipe-content">2</div>
                  <div class="swipe-content">3</div>
                </div><!-- swiper-wrapper -->
                <div class="cp-controls">
                  <div class="swiper-pagination"></div>
                </div>
              </div><!-- /swiper-container-->
            </div>

            <div class="swiper-block separate-arrows" data-tab="3">
              <div class="prev-arrow vertical-arrow"></div>
              <div class="swiper-container" id="swiperFour">
                <div class="swiper-wrapper">
                  <div class="swipe-content">1</div>
                  <div class="swipe-content">2</div>
                  <div class="swipe-content">3</div>
                </div><!-- swiper-wrapper -->
                <div class="cp-controls">
                  <div class="swiper-pagination"></div>
                </div>
              </div><!-- /swiper-container-->
              <div class="next-arrow vertical-arrow"></div>
            </div>

            <div class="swiper-block" data-tab="4">
              <div class="swiper-container" id="swiperFive">
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                </ul>
              <div class="cp-controls">
                <div class="swiper-pagination"></div>
              </div>
              </div><!-- /swiper-container-->
            </div>

          </div> <!-- /Demo block -->

          <div class="text-block" id="add-css">
            <div class="heading-block">
              <h2>Adding CSS files:</h2>
              <button class="copy-code btn clip" data-btn="css-file">Copy</button>
            </div>

<textarea class="html" data-target="css-file">
  <link rel="stylesheet" type="text/css" href="{% theme_asset_file_from BuildAssets swiper.css %}">
</textarea>

            <p class="text-block-info"><span class="class-name">swiper.css</span> should be added in <span class="class-name">base.html</span> if swiper instances appear on content pages and in <span class="class-name">core.homepage.html</span> if swiper instances are on homepage only.</p>
            <p class="text-block-info">Placement should be above any other stylesheet:</p>

<textarea class="html">
  {# STYLESHEETS #}
  <link rel="stylesheet" type="text/css" href="{% theme_asset_file_from BuildAssets swiper.css %}">
  <link rel="stylesheet" type="text/css" href="{% theme_asset_file style-global.css %}">
  <link rel="stylesheet" type="text/css" media="(min-width: 981px)" href="{% theme_asset_file style.css %}">
  <link rel="stylesheet" type="text/css" media="(max-width: 980px)" href="{% theme_asset_file style-responsive.css %}">
</textarea>

          </div><!-- /add css-->

          <div class="text-block" id="add-js">

            <div class="heading-block">
              <h2>Adding JS files:</h2>
              <button class="copy-code btn clip" data-btn="js-file">Copy</button>
            </div>

<textarea class="html" data-target="js-file">
  <script type="text/javascript" src="{% theme_asset_file_from BuildAssets swiper.js %}"></script>
  <script type="text/javascript" src="{% theme_asset_file_from BuildAssets flick-common.js %}"></script>
  <script type="text/javascript" src="{% theme_asset_file flick-variable.js %}"></script>
</textarea>

            <p class="text-block-info">All three files should be added at the bottom of the page. <span class="class-name">base.html</span> if swiper instances are on contents pages as well as home page. <span class="class-name">core.homepage.html</span> if swiper instances are on homepage only. </p>

            <p class="text-block-info">Example location in <span class="class-name">base.html</span> : </p>

<textarea class="html">
  {# JS #}
  {% include "themes/common_scripts.html" %}
  <script type="text/javascript" src="{% theme_asset_file app.js %}"></script>
  <script type="text/javascript" src="{% theme_asset_file_from BuildAssets swiper.js %}"></script>
  <script type="text/javascript" src="{% theme_asset_file_from BuildAssets flick-common.js %}"></script>
  <script type="text/javascript" src="{% theme_asset_file flick-variable.js %}"></script>
</textarea>

            <p class="text-block-info">Example location in <span class="class-name">core.homepage.html</span> : </p>

<textarea class="html">
  {% block footer %}{% endblock %}

  {% block scripts %}
  <script type="text/javascript" src="{% theme_asset_file_from BuildAssets swiper.js %}"></script>
  <script type="text/javascript" src="{% theme_asset_file_from BuildAssets flick-common.js %}"></script>
  <script type="text/javascript" src="{% theme_asset_file flick-variable.js %}"></script>
  {% endblock %}
</textarea>

            <p class="text-block-info">Please refer to <a href="#flick-variable">Flick variable file</a> information to fill in <span class="class-name">flick-variable.js</span> .</p>

          </div><!-- /add js -->

          <div class="text-block" id="add-html">

            <h2>Adding HTML mark-up:</h2>

            <p class="text-block-info">Please refer to <a href="#core-html">Core HTML</a> section to get basic HTML mark-up for <span class="class-name">swiper-container</span> </a> . </p>

          </div><!-- /add html -->

          <div class="text-block" id="core-html">

            <div class="heading-block">
              <h2>Basic Core HTML:</h2>
              <button class="copy-code btn clip" data-btn="core-html-copy">Copy</button>
            </div>

<textarea class="html" data-target="core-html-copy">
  <div class="swiper-container" id="swiperOne">
    <div class="swiper-wrapper">
      <div class="swipe-content">1</div>
      <div class="swipe-content">2</div>
      <div class="swipe-content">3</div>
    </div><!-- swiper-wrapper -->
    <div class="cp-controls">
    <div class="swiper-pagination"></div>
    </div>
  </div><!-- /swiper-container-->
</textarea>

            <p class="text-block-info">Replace ID <span class="class-name">id="swiperOne"</span> with unique identifier that you would use in swiper variable.</p>

          </div><!-- / core html -->

          <div class="text-block" id="core-injected">

            <div class="heading-block">
              <h2>Basic HTML for injected elements:</h2>
              <button class="copy-code btn clip" data-btn="core-html-injected-copy">Copy</button>
            </div>

<textarea class="html" data-target="core-html-injected-copy">
  <div class="swiper-container" id="swiperFive">
    <ul>{% diary_summary_list 3 %}</ul>
    <div class="cp-controls">
      <div class="swiper-pagination"></div>
    </div>
  </div><!-- /swiper-container-->
</textarea>

            <p class="text-block-info">Replace ID with unique identifier that you would use in swiper variable. This mark-up should be used when <span class="class-name">swiper-wrapper</span> and <span class="class-name">swipe-content</span> are used on element that are pulled from the back end - like updates areas.</p>

            <p class="text-block-info"> <span class="class-name">ps_settings</span> should now include <span class="class-name">assignEle</span> key value pair. Please refer to <a class="section-anchor" href="#ps-settings"> ps_settings</a> for more information. </p>

          </div><!-- / core injected -->

          <div class="text-block" id="grouped-nav">

            <div class="heading-block">
              <h2>Basic HTML for inline grouped button navigation:</h2>
              <button class="copy-code btn clip" data-btn="grouped-nav-copy">Copy</button>
            </div>

<textarea class="html" data-target="grouped-nav-copy">
  <div class="arrow-nav inline-arrows"></div>
</textarea>

            <p class="text-block-info">Arrows will be injected inside this div via Javascript. All class names can be changed via settings.</p>

          </div><!-- Grouped nav -->

          <div class="text-block" id="separate-nav">

            <div class="heading-block">
              <h2>Basic HTML for separate button navigation:</h2>
              <button class="copy-code btn clip" data-btn="separate-nav-copy">Copy</button>
            </div>

<textarea class="html" data-target="separate-nav-copy">
  <div class="wrapper">
    <div class="prev-arrow vertical-arrow"></div>
    <!-- SWIPER MARK-UP -->
    <div class="next-arrow vertical-arrow"></div>
  </div>
</textarea>

            <p class="text-block-info">Wrapper is needed to style the arrows. This should enclose swiper-container and arrows. Navigation button arrows will be injected in <span class="class-name">vertical-arrow</span> div. All class names can be changed via settings.</p>

          </div><!-- / separatenav -->

          <div class="text-block" id="global-css">

            <div class="heading-block">
             <h2>Global CSS:</h2>
              <button class="copy-code btn clip" data-btn="global-css-copy">Copy</button>
            </div>

<textarea class="css" data-target="global-css-copy">
  /* SWIPE CTA
  ============*/
  @-webkit-keyframes swipe-ani {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    25% {
      transform: translateX(0%);
      opacity: 1;
    }
    50% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(-50%);
      opacity: 0;
    }
  }

  @-moz-keyframes swipe-ani {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    25% {
      transform: translateX(0%);
      opacity: 1;
    }
    50% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(-50%);
      opacity: 0;
    }
  }

  @keyframes swipe-ani {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    25% {
      transform: translateX(0%);
      opacity: 1;
    }
    50% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(-50%);
      opacity: 0;
    }
  }

  .cta-swipe {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 20px;
    height: 25px;
    background: url(swipe-to-right.svg) center center no-repeat;
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
    -webkit-animation: swipe-ani 3s linear infinite;
    -moz-animation: swipe-ani 3s linear infinite;
    animation: swipe-ani 3s linear infinite;
    transform-origin: 50% 50%;
  }

</textarea>

            <div class="heading-block">

              <p class="text-block-info">Keyframe animation for swiper CTA button. This has to be placed outside any breakpoints <span class="class-name"> @media</span> . </p>

              <button class="copy-code btn clip" data-btn="global-btn-copy">Copy</button>

            </div>

<textarea class="css" data-target="global-btn-copy">
  /* GLOBAL SWIPER BUTTONS
  ================*/

  .swiper-btn {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor:pointer;
  }

  .swiper-btn:focus{
    border: 0;
    padding: 0;
    outline: none;
  }

  /* DOT navigation
  =================*/

  .cp-controls {
    position: relative;
  }

  .swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 100%;
    background: #d9d9d9;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    width: 18px;
    height: 18px;
  }
</textarea>

            <p class="text-block-info"> Swiper navigation uses <span class="class-name">button</span> tag for accesibillity purposes. Code above includes reset for <span class="class-name">button</span> styling as well as dot navigation css.</p>

          </div><!-- /global css -->

          <div class="text-block" id="block-css">

            <div class="heading-block">
              <h2>Swiper instance CSS:</h2>
              <button class="copy-code btn clip" data-btn="swiper-inst-copy">Copy</button>
            </div>

<textarea class="css" data-target="swiper-inst-copy">
  .swiper-container {
    width: 90%;
    margin: 0 auto;
  }

  .swipe-content {
    height: 200px;
    background: #ccc;
  }
</textarea>

            <p class="text-block-info">No default CSS is needed for Swiper instance. CSS above can be used to ensure that swiper is successfully implemented. Some styling reset might be required depending on the build as <span class="class-name">swiper.css</span> is no longer pulled through on responsive design only. This is now a global stylesheet.</p>

          </div><!-- /block css -->

          <div class="text-block" id="grouped-nav-css">

            <div class="heading-block">
              <h2>Default CSS for navigation that appears side by side:</h2>
              <button class="copy-code btn clip" data-btn="grouped-nav-css-copy">Copy</button>
            </div>

<textarea class="css" data-target="grouped-nav-css-copy">
  /* INLINE ARROWS
  ================*/

  .inline-arrows {
    box-sizing: border-box;
    padding: 10px 0;
    text-align:right;
  }

  .inline-arrows .swiper-btn {
    display:inline-block;
    background:#ccc;
    padding:5px 10px;
    transition: ease 0.2s opacity, ease 0.2s background;
  }

  .inline-arrows .swiper-btn:focus,
  .inline-arrows .swiper-btn:hover {
    background: #fcfcfc;
  }

  .inline-arrows .swiper-btn.swiper-button-disabled {
    opacity:0.8;
  }

  .inline-arrows .nav-prev {
    border-radius:10px 0 0 10px;
  }

  .inline-arrows .nav-next {
    border-radius:0 10px 10px 0;
  }
</textarea>

            <p class="text-block-info"><span class="class-name">arrow-nav</span>  class in this case is reffered as place to inject navigation buttons and <span class="class-name">inline-arrows</span> is set within HTML purely for CSS purposes.</p>

          </div><!-- grouped nav css -->

          <div class="text-block" id="separate-nav-css">

            <div class="heading-block">

              <h2>Default CSS for navigation that appears on either side of swiper container:</h2>
              <button class="copy-code btn clip" data-btn="separate-nav-css-copy">Copy</button>

            </div>

<textarea class="css" data-target="separate-nav-css-copy">
  /* Vertical Arrows
  ===================*/

  .vertical-arrow {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: calc(100% - 57px);
  }

  .prev-arrow {
    left: 0;
  }

  .next-arrow {
    right: 0;
  }

  .vertical-arrow .swiper-btn {
    border-radius: 100%;
  }

  .vertical-arrow .swiper-btn span {
    display: inline-block;
    font-family: 'Glyphter';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3.5rem;
  }

  .vertical-arrow .swiper-btn.swiper-button-disabled {
    opacity: 0.5;
  }
</textarea>

            <p class="text-block-info"><span class="class-name">arrow-nav</span>  class in this case is reffered as place to inject navigation buttons and <span class="class-name">inline-arrows</span> is set within HTML purely for CSS purposes.</p>

          </div><!-- /separate nav css -->

          <div class="text-block" id="flick-variable">

            <div class="heading-block">

              <h2>Build based variables:</h2>
              <button class="copy-code btn clip" data-btn="basic-variable-js">Copy</button>

            </div>

            <p class="text-block-info">All variables should be stored in a file called <span class="class-name">flick-variable.js</span> This is where builder will set options for each swiper instance.</p>

<textarea class="js" data-target="basic-variable-js">
  var flick = (function () {

    const swiperParams = {
      swiperOne: {
      slidesPerView: 1,
      },
    }
    populateSwiper(swiperParams);
  })();
</textarea>

          </div><!-- /swiper variable -->

          <div class="text-block" id="general-info">

            <h2>General Information:</h2>

            <p class="text-block-info">Initializing Swiper instance takes place in IIFE function that is assigned to a variable called <span class="class-name">flick</span> . This is where we are setting parameters for each individual swiper instance. </p>

            <p class="text-block-info">Example with empty <span class="class-name">flick</span> :  </p>

<textarea class="js">
  var flick = (function () {
    /* Initiate Swiper instances */
    populateSwiper(swiperParams);
  })();
</textarea>

            <p class="text-block-info">Each swiper instance is then created in its own object containing all the options tied to given swiper instance. For example : We have swiper instance with id of <span class="class-name">BlockBravo</span> . We would then create object within <span class="class-name">flick</span> : </p>

<textarea class="js">
  blockBravo: {
    /* All the options */
  },
</textarea>

            <p class="text-block-info">Note that objects <span class="class-name">key</span> has to be the same as swiper instances <span class="class-name">id</span> . </p>

            <p class="text-block-info">Native swiper options and PrimarySite options are separated. PS options is an object within swiper instance object: </p>

<textarea class="js">
  blockBravo: {
    /* Swiper Native options */
    ps_settings: {
      /* Primarysite options */
    }
  },
</textarea>

            <div class="heading-block" id="ps-options-full">

              <p class="text-block-info">Example with all the possible options within <span class="class-name">ps_settings</span> and some swiper native options : </p>

              <button class="copy-code btn clip" data-btn="full-variables-copy">Copy</button>

            </div>

<textarea class="js" data-target="full-variables-copy">
  var flick = (function () {

    const swiperParams = {

      blockBravo: {
        slidesPerView: 1,
        spaceBetween: 10,
        ps_settings: {
          nav: {
            appendTo: ['.prev-arrow', '.next-arrow'],
            prevHtml: 'Prev',
            nextHtml: 'Next',
            btnClass : 'swiper-btn'
          },
          assignEle : ['#blockBravo>ul', '#blockBravo>ul>li'],
          initWhen : 1200
        }
      }

    }
    populateSwiper(swiperParams);
  })();
</textarea>

          </div><!-- general info -->

          <div class="text-block" id="ps-settings">

            <h2>PS settings:</h2>

            <p class="text-block-info">Table of currently available options within swiper instance. All options should be placed in <span class="class-name">ps_settings</span> object inside swiper instance object: </p>

            <div class="options-list">
              <ul class="headings">
                <li><span>Paramater</span></li>
                <li><span>Type</span></li>
                <li><span>Default</span></li>
                <li class="opt-example"><span>Example</span></li>
              </ul>
              <ul>
                <li><span>assignEle</span></li>
                <li><span>Array</span></li>
                <li><span>NA</span></li>
                <li class="opt-example"><span>assignEle : ['#blockBravo>ul', '#blockBravo>ul>li']</span></li>
                <li class="description"><span>Array should contain two items. First item is selector for element that becomes swiper-wrapper, second item is selector for elements that become swipe-content</span></li>
              </ul>
              <ul>
                <li><span>initWhen</span></li>
                <li><span>string/Number</span></li>
                <li><span>global</span></li>
                <li class="opt-example"><span>initWhen: 'global' or initWhen : number</span></li>
                <li class="description"><span>Defines when swiper instance is initalized. number should be replaced with pixel value of when swiper initializes. 'px' should be ommited</span></li>
              </ul>
            </div>

            <p class="text-block-info">Following options apply to <span class="class-name">nav</span> object which should be set within <span class="class-name">ps_settings</span> if you need PS arrows</p>

            <div class="options-list">
              <ul class="headings">
                <li><span>Paramater</span></li>
                <li><span>Type</span></li>
                <li><span>Default</span></li>
                <li class="opt-example"><span>Example</span></li>
              </ul>
              <ul>
                <li><span>appendTo</span></li>
                <li><span>Array</span></li>
                <li><span>NA</span></li>
                <li class="opt-example"><span>appendTo : ['.prev-arrow', '.next-arrow'] or ['.arrow-block']</span></li>
                <li class="description"><span>Array contains selectors where navigation buttons are injected. 2 array items represent buttons on either side of the swiper instance. First - for the "previous" and second for the "next". One array item means that arrows are to be injected inline - side by side in element reflected in the array</span></li>
              </ul>
              <ul>
                <li><span>btnClass</span></li>
                <li><span>string</span></li>
                <li><span>swiper-btn</span></li>
                <li class="opt-example"><span>btnClass : 'swiper-btn'</span></li>
                <li class="description"><span>Extra class name to be added to both arrows for styling purposes. Multiple classes should be divided by a space . Left button has a class 'nav-prev' and right button has a class of nav-next regardless of 'btnClass' option</span></li>
              </ul>
              <ul>
                <li><span>prevHtml</span></li>
                <li><span>string</span></li>
                <li><span>Prev</span></li>
                <li class="opt-example"><span>prevHtml : 'Previous'</span></li>
                <li class="description"><span>String that appears within left ( navigating back ) navigation button. can be any HTML. Pass icon reference to use font icon</span></li>
              </ul>
              <ul>
                <li><span>nextHtml</span></li>
                <li><span>string</span></li>
                <li><span>Next</span></li>
                <li class="opt-example"><span>nextHtml : 'Next'</span></li>
                <li class="description"><span>String that appears within right (navigating forward ) navigation button. can be any HTML. Pass icon reference to use font icon</span></li>
              </ul>
            </div>
          </div><!-- /ps options -->

          <div class="text-block" id="error-msg">

              <h2>Error Messages:</h2>

              <p class="text-block-info">We have implemented some error handling within swiper that are connected to swiper initialization. Errors are shown within Swiper instance block as well as in browser console.</p>

              <p class="text-block-info">Please find registered errors and solutions below. Native swiper or general syntax errors will not be shown within swiper instance. Those will appear in console only.</p>

              <p class="text-block-info">Assuming swiper instance with id <span class="class-name">swiperOne</span> .</p>

              <div class="error-block">
                <p class="swiper-error">#swiperOne: Swiper instance : 'swiperOne'  exists in the DOM, but key is missing from 'swiperParams' object</p>

                <p class="text-block-info">Script found <span class="class-name">swiper-container</span> with id in the DOM, that was not initialized within <span class="class-name">swiperParams</span> object in <span class="class-name">flick-variable.js</span></p>

<textarea class="js">
  var flick = (function () {
    const swiperParams = {
      swiperOne: { /* Missing */
      slidesPerView: 1,
      },
    }
    populateSwiper(swiperParams);
  })();
</textarea>

              </div>

              <div class="error-block">

                <p class="swiper-error">#swiperOne: : 'initWhen' must be 'global' or number</p>

                <p class="text-block-info"><span class="class-name">initWhen</span> has wrong value applied to it. It has to be <span class="class-name">'global'</span> or <span class="class-name">980</span> (pixel value without px and quotes). Example below shows an error where user initiated property with <span class="class-name">'1200px'</span> - quotes and 'px' are redundant.</p>

<textarea class="js">
  var flick = (function () {
    const swiperParams = {
      swiperOne: {
      slidesPerView: 1,
        ps_settings : {
          initWhen : '1200px' /* not 'global' and not a number */
        }
      }
    }
    populateSwiper(swiperParams);
  })();
</textarea>

              </div>

              <div class="error-block">
                <p class="swiper-error">#swiperOne: : 'nav' object is set but 'appendTo' is missing. </p>

                <p class="text-block-info"><span class="class-name">nav</span> property tells the script that user wants to build arrows. <span class="class-name">appendTo</span> key value pair is needed to know where to inject buttons. Please refer to <a class="section-anchor" href="#ps-settings">PS settings - appendTo option.</a> and choose desired option</p>

<textarea class="js">
  var flick = (function () {
    const swiperParams = {
      swiperOne: {
      slidesPerView: 1,
        ps_settings : {
          initWhen : 'global',
          nav : {
            /* appendTo : [array] is missing */
          }
        }
      }
    }
    populateSwiper(swiperParams);
  })();
</textarea>

              </div>

              <div class="error-block">

                <p class="swiper-error">#swiperOne: : Missing information in 'assignEle'. Provide swiper wrapper and swipe content.</p>

                <p class="text-block-info"><span class="class-name">assignEle</span> is used when user wants to set class names to elements we cannot access such as updates areas. This key value pair should have an array as value holding two items. First for the element that becomes <span class="class-name">swiper-wrapper</span> and second that becomes <span class="class-name">swipe-content.</span> </p>

                <p class="text-block-info">Example below shows a situation where user assigned swiper wrapper, but forgot to assign swipe content. Array has one item in it.</p>

<textarea class="js">
  var flick = (function () {
    const swiperParams = {
      swiperOne: {
      slidesPerView: 1,
        ps_settings : {
          initWhen : 'global',
          assignEle : ['#swiperOne > ul'] /* Array should have two items */
        }
      }
    }
    populateSwiper(swiperParams);
  })();
</textarea>

              </div>

              <div class="error-block">
                <p class="swiper-error">#swiperOne: : 'appendTo' has to be an array</p>

                <p class="text-block-info"> This means that <span class="class-name"> nav</span> object has been declared and key <span class="class-name"> appendTo </span> has been set with wrong type of value. This has to be an array with one or two items.  </p>

<textarea class="js">
  var flick = (function () {
    const swiperParams = {
      swiperOne: {
      slidesPerView: 1,
        ps_settings : {
          initWhen : 'global',
          nav: {
            appendTo : 'selector' /* This should be an array */
          }
        }
      }
    }
    populateSwiper(swiperParams);
  })();
</textarea>

              </div>

              <div class="error-block">

                <p class="swiper-error">#swiperOne: : selector '.selector-does-not-exist' cannot be found within the DOM</p>

                <p class="text-block-info"><span class="class-name"> nav </span> object is set. <span class="class-name"> appendTo </span> key is declared as an array. single selector provided within array does not exist. Please check if array item contains selector that appears within the DOM.</p>

<textarea class="js">
  var flick = (function () {
    const swiperParams = {
      swiperOne: {
      slidesPerView: 1,
        ps_settings : {
          initWhen : 'global',
          nav: {
            appendTo : ['.selector-does-not-exist'] /* Unable to inject buttons to missing element. */
          }
        }
      }
    }
    populateSwiper(swiperParams);
  })();
</textarea>

              </div>

              <div class="error-block">

                <p class="swiper-error">#swiperOne: : selector '.i-exist' or '.i-do-not-exist' cannot be found within the DOM</p>

                <p class="text-block-info"><span class="class-name"> nav </span> object is set. <span class="class-name"> appendTo </span> key is declared as an array. Separate navigation buttons selectors provided within array. One of these elements do not exists within the DOM. Please check if array item contains selectors that appears within the DOM.</p>

<textarea class="js">
  var flick = (function () {
    const swiperParams = {
      swiperOne: {
      slidesPerView: 1,
        ps_settings : {
          initWhen : 'global',
          nav: {
            appendTo : ['.i-exist','.i-do-not-exist'] /* one of selectors for individual arrows does not exist */
          }
        }
      }
    }
    populateSwiper(swiperParams);
  })();
</textarea>

              </div>

              <div class="error-block">

                <p class="swiper-error">#swiperOne: : Maximum amount of items in 'appendTo' is exceeded. Max is 2</p>

                <p class="text-block-info"><span class="class-name"> appendTo </span> array can consist of maximum 2 items ( one for <span class="class-name">previous button</span> and one for <span class="class-name">next button</span> . Error states that array has more than 2 items. Please check array.</p>

<textarea class="js">
  var flick = (function () {

    const swiperParams = {
      swiperOne: {
      slidesPerView: 1,
        ps_settings:{
          nav: {
            appendTo : ['.i-exist','#i-exist','.i-do-not-exist'] /* Maximum array items - 2 */
          }
        }
      },
    }
    populateSwiper(swiperParams);
  })();
</textarea>

              </div>

          </div><!-- /error messages -->

          <div class="text-block" id="core-files">

            <div class="heading-block">

              <h2>Core Files:</h2>

            </div>

            <p class="text-block-info"><span class="class-name"><a href="//primarysite-stage.s3.amazonaws.com/theme/BuildAssets/swiper.js" target="_blank"> swiper.js </a></span>

            <span class="class-name"><a href="https://primarysite-stage.s3.amazonaws.com/theme/BuildAssets/flick-common.js" target="_blank"> flick-common.js </a></span>

            <span class="class-name"><a href="https://primarysite-stage.s3.amazonaws.com/theme/BuildAssets/swiper.css" target="_blank"> swiper.css </a></span> </p>

          </div> <!-- /core files -->

          <div class="text-block" id="assets">

            <div class="heading-block">
              <h2>Assets:</h2>

            </div>

            <p class="text-block-info"><span class="class-name">Swiper CTA hand</span> is svg file that has to be uploaded to every site with swiper functionality. Open and edit file to change 'hand's' fill. <a href="./swipe-to-right.svg" download="swipe-to-right.svg">Download here</a> . </p>

          </div><!-- / assets -->

      </div><!-- / inner-container -->
    </div><!-- /container -->

    <!-- DEMO - SCRIPTS -->
    <script src="./demojs/jquery.js"></script>
    <script src="./demojs/codemirror.535.0.js"></script>
    <script src="./demojs/xml.js"></script>
    <script src="./demojs/htmlmixed.js"></script>
    <script src="./demojs/javascript.js"></script>
    <script src="./demojs/css.js"></script>
    <script src="./demojs/app.js"></script>

    <!-- SWIPER SCRIPTS-->
    <script src="https://primarysite-stage.s3.amazonaws.com/theme/BuildAssets/swiper.js"></script>
    <script src="https://primarysite-stage.s3.amazonaws.com/theme/BuildAssets/flick-common.js"></script>
    <script src="./js/flick-variable.js"></script>

  </body>
</html>
